// @import '../fonts';
@import '../colors';
@import '../values';


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 2s ease-in-out;
}

.upload {
    min-height: 100vh;
    padding: calc(#{$navbarheight} + 1rem) 2rem 1rem 2rem;
    background-color: $background;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;

    .title {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #333;
        // text-decoration: underline;
    }

    .imagePreview {
        width: 400px; // Fixed width
        height: 300px; // Fixed height
        overflow: hidden;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
        background-color: #f9f9f9; // Optional: background to fill empty space
        margin-bottom: 10px;
        .previewImage {
            width: 100%;
            height: 100%;
            object-fit: contain; // Ensures the image fits within the container
        }
    }

    .fileInput {
        display: none;
    }

    .resultItem {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        padding: 12px;
        border: 1px solid #eee;
        border-radius: 8px;
        margin-bottom: 16px;
        p {
            margin: 0; // Remove default spacing if needed
          }
    }

    .button {
        margin-top: 1rem;
        padding: 1rem 1rem;
        font-size: 1.1rem;
        font-weight: 700;
        color: $background;
        background-color: $primary;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: background-color 0.3s;
        width: 10rem;
        height: 3rem;
        text-align: center;

        &:hover {
            background-color: #5f715f;
        }
    }
}

.legend {
    // margin-top: 5px;
    // padding: 10px;
    background: #f5f5f5;
    border-radius: 8px;
    h4 {
      margin-bottom: 8px;
    }
    ul {
      padding-left: 20px;
      li {
        margin-bottom: 4px;
      }
    }
  }